﻿@using System.Globalization
@namespace PlannerFrontend.Components
<Label TextSize="TextSize.Small">
    Chętność (@Like.ToString())
</Label>
<Slider TValue="double?" Min="-1" Max="1" Step="Step" @bind-Value="Like"></Slider>
@if (NeedLeader ?? false) {
    <Label>
        Wiedza (@Knowledge.ToString())
    </Label>
    <Slider TValue="double?" Min="0.0" Max="1" Step="Step" @bind-Value="Knowledge"></Slider>
}
@if (ShowButtons) {
    <Button Color="Color.Primary" Clicked="Save" Size="Size.Small" Disabled="IsSynced">Zapisz</Button>
    <Button Color="Color.Secondary" Clicked="Reset" Size="Size.Small" Disabled="IsSynced">Reset</Button>
}

@code {

    [Parameter]
    public double Step { get; set; } = 0.01;
    [Parameter]
    public bool? NeedLeader { get; set; }

    double startLike = 0;
    double? like = null;
    
    [Parameter]
    public double? Like {
        get => like;
        set {
            value ??= 0;
            if (like == value) return;
            if (like == null) startLike = value.Value;
            like = value;
            LikeChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<double?> LikeChanged { get; set; }

    double startKnowledge = 0;
    double? knowledge = null;
    
    [Parameter]
    public double? Knowledge {
        get => knowledge;
        set {
            value ??= 0;
            if (knowledge == value) return;
            if (knowledge == null) startKnowledge = value.Value;
            knowledge = value;
            KnowledgeChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<double?> KnowledgeChanged { get; set; }
    
    [Parameter]
    public bool ShowButtons { get; set; }
    [Parameter]
    public EventCallback OnSave { get; set; }

    bool IsSynced => Like == startLike && Knowledge == startKnowledge;

    async Task Save() {
        startLike = Like ?? 0;
        startKnowledge = Knowledge ?? 0;
        await OnSave.InvokeAsync();
    }

    void Reset() {
        Like = startLike;
        Knowledge = startKnowledge;
    }
}