﻿@using PlannerFrontend.Clients
@using PlannerFrontend.Utils
@inject IUserService User
@inject IPropositionsClientService PropositionsClient
@namespace PlannerFrontend.Components
@if (User.IsLoggedIn) {
    <LoadingIndicator @ref="createLoadingIndicator" FadeIn>
        <ChildContent>
            <Card>
                <CardBody>
                    <Validations @ref="@createValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                        <Validation Validator="PropositionsClient.NameValidation">
                            <Field>
                                <FieldLabel>Nazwa</FieldLabel>
                                <TextEdit @bind-Text="@propositionCreate.Name" Placeholder="Nazwa...">
                                    <Feedback>
                                        <ValidationError>Za krótka nazwa</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation Validator="ValidationRule.IsNotEmpty">
                            <Field>
                                <FieldLabel>Opis</FieldLabel>
                                <TextEdit @bind-Text="@propositionCreate.Description" Placeholder="Opis...">
                                    <Feedback>
                                        <ValidationError>Może parę słów jednak napisz!</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Label>Potrzeba prowadzącego?</Label>
                        <Check TValue="bool?" @bind-Checked="@propositionCreate.NeedLeader"></Check>
                        <Div Margin="Margin.Is1.OnY">
                            <Validation Validator="e => ValidationUtils.NotNull(e, propositionCreate.Category)">
                                <Field>
                                    <FieldLabel>Kategoria</FieldLabel>
                                    <FieldBody>
                                        <CategoryDropdown
                                            Icon="IconName.FolderOpen"
                                            Categories="Categories"
                                            UseSelect="true"
                                            OnCategorySelected="c => propositionCreate.Category = c?.Id"/>
                                    </FieldBody>
                                </Field>
                            </Validation>
                        </Div>
                        <Div Margin="Margin.Is1.OnY">
                            <PropositionVoteSliders @bind-Like="propositionVoteCreate.Like" @bind-Knowledge="propositionVoteCreate.Knowledge" NeedLeader="propositionCreate.NeedLeader"/>
                        </Div>
                    </Validations>
                    <ErrorText CodeError="@createError" HumanReadableError="Nie udało się stworzyć propozycji"/>
                    <Button Color="Color.Primary" Clicked="AddNewClicked">Dodaj</Button>
                </CardBody>
            </Card>
        </ChildContent>
        <IndicatorTemplate>
            <LoadingTemplate/>
        </IndicatorTemplate>
    </LoadingIndicator>
}
else {
    <Paragraph>Jak chcesz coś dodać to się zaloguj</Paragraph>
}


@code {

    [Parameter]
    public ICollection<Category>? Categories { get; set; }
    [Parameter]
    public EventCallback OnSuccess { get; set; }
    
    PropositionRequest propositionCreate = new();
    PropositionVoteRequest propositionVoteCreate = new();
    Validations? createValidationsRef;
    LoadingIndicator? createLoadingIndicator;

    string? createError;

    async Task AddNewClicked() {
        if (createValidationsRef != null && await createValidationsRef.ValidateAll()) {
            createError = null;
            await createLoadingIndicator!.Show();
            await createValidationsRef.ClearAll();
            propositionCreate.User = User.Data!.Id;
            try {
                var proposition = await PropositionsClient.PropositionsPostAsync(propositionCreate);
                propositionCreate = new();
                var voteCreate = propositionVoteCreate;
                propositionVoteCreate = new();
                voteCreate.User = User.Data!.Id;
                voteCreate.Proposition = proposition.Id;
                await PropositionsClient.VotePostAsync(voteCreate);
                await OnSuccess.InvokeAsync();
            }
            catch (Exception e) {
                createError = e.Message;
            }
            await createLoadingIndicator.Hide();
        }
    }

}