﻿@using PlannerFrontend.Clients
@using Force.DeepCloner
@inject IUserService User;
@inject IProfileClientService ProfileClient;
@inject IPropositionsClientService PropositionsClient;
@namespace PlannerFrontend.Components
<LoadingIndicator @ref="loadingIndicator" FadeIn>
    <ChildContent>
        @if (Proposition != null) {
            <Card Style="width: 250px; height: 400px;" Margin="Margin.Is2.OnAll">
                <CardHeader Background="HeaderBackground">
                    <Strong TextColor="TextColor.White">@Proposition.Name</Strong>
                </CardHeader>
                <CardBody Position="Position.Relative">
                    <Div>
                        <Paragraph Style=@($"overflow-y: auto; min-height: {lineHeight * 1.1}em; max-height: {lineHeight * DescriptionLinesCount}em; line-height: {lineHeight}em")>@Proposition.Description</Paragraph>
                        <Paragraph>Chętność: @Proposition.AverageVote.ToString()</Paragraph>
                        @if (User.IsLoggedIn) {
                            <Button
                                Color="Color.Primary"
                                Size="Size.ExtraSmall"
                                Position="Position.Absolute.Bottom.Is0.Start.Is50.Translate.MiddleX"
                                Clicked="() => isVoteOpen = !isVoteOpen">
                                Zagłosuj
                            </Button>
                        }
                    </Div>
                </CardBody>
                <CardFooter Background="FooterBackground">
                    <Div>
                        <Div Style="@("width: 30px; height: 30px;")" Margin="Margin.Is1.FromBottom">
                            @foreach (var voter in voters) {
                                <Tooltip Text="@voter.User?.Username">
                                    <Figure Margin="Margin.Is1.OnAll">
                                        <FigureImage Source="@voter.Avatar.ToString()" AlternateText="" Border="Border.RoundedCircle"></FigureImage>
                                    </Figure>
                                </Tooltip>
                            }
                        </Div>
                        @if (User.IsLoggedIn && isVoteOpen) {
                            <PropositionVoteSliders
                                @bind-Like="propositionVote.Like"
                                @bind-Knowledge="propositionVote.Knowledge"
                                NeedLeader="Proposition.NeedLeader"
                                ShowButtons="true"
                                OnSave="SaveVote"/>
                        }
                    </Div>
                </CardFooter>
            </Card>
        }
        else {
            <Div></Div>
        }
    </ChildContent>
    <IndicatorTemplate>
        <LoadingTemplate/>
    </IndicatorTemplate>
</LoadingIndicator>

@code {

    [Parameter]
    public Proposition? Proposition { get; set; }
    [Parameter]
    public EventCallback OnVoteChange { get; set; }

    int DescriptionLinesCount => isVoteOpen ? 2 : 8;
    Background HeaderBackground => IsCurrentVoted ? Background.Success : Background.Secondary;
    Background FooterBackground => isVoteOpen ? Background.Default : HeaderBackground;
    bool IsCurrentVoted => User.IsLoggedIn
                           && (Proposition?.PropositionvoteSet
                               .Select(p => p.User)
                               .Contains(User.Id!.Value) ?? false);

    List<ProfileSerializerAdmin> voters = new();
    int? currentUserVoteId;
    PropositionVoteRequest propositionVote = new();

    int avatarsCount = 5;
    bool isVoteOpen = false;
    double lineHeight = 1.1;
    string PercentageForAvatars => ((int)Math.Round((1.0 / avatarsCount * 100))).ToString();
    LoadingIndicator loadingIndicator = null!;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        if (Proposition != null) {
            if (User.IsLoggedIn) {
                var currentUserId = User.Data!.User!.Id;
                var currentUserVote = Proposition.PropositionvoteSet.FirstOrDefault(p => p.User == currentUserId);
                RefreshDataFromCurrentVote(currentUserVote);
            }
            var votersTasks = Proposition.PropositionvoteSet
                .OrderByDescending(vote => vote.Like)
                .Where(vote => vote.Like > 0.1)
                .Take(avatarsCount)
                .Select(vote => ProfileClient.ProfileGetAsync(vote.User))
                .ToList();
            foreach (var voter in votersTasks) {
                voters.Add(await voter);
            }
        }
    }

    async Task SaveVote() {
        await loadingIndicator.Show();
        try {
            PropositionVote currentUserVote;
            if (currentUserVoteId != null) {
                currentUserVote = await PropositionsClient.VotePutAsync(currentUserVoteId.Value, propositionVote);
            }
            else {
                currentUserVote = await PropositionsClient.VotePostAsync(propositionVote);
            }
            RefreshDataFromCurrentVote(currentUserVote);
            var refreshedProposition = await PropositionsClient.PropositionsGetAsync(Proposition!.Id);
            refreshedProposition.ShallowCloneTo(Proposition);
        }
        catch (Exception e) {
    //Ignore
        }
        isVoteOpen = false;
        await loadingIndicator.Hide();
        await OnVoteChange.InvokeAsync();
    }

    void RefreshDataFromCurrentVote(PropositionVote? currentUserVote) {
        if (Proposition == null || !User.IsLoggedIn) {
            return;
        }
        var currentUserId = User.Data!.User!.Id;
        currentUserVoteId = currentUserVote?.Id;
        propositionVote.User = currentUserId;
        propositionVote.Proposition = Proposition.Id;
        if (currentUserVote != null) {
            propositionVote.Like = currentUserVote.Like;
            if (Proposition.NeedLeader ?? false) {
                propositionVote.Knowledge = currentUserVote.Knowledge;
            }
            else {
                propositionVote.Knowledge = null;
            }
        }
    }

}