﻿@using Blazored.SessionStorage
@using PlannerFrontend.Clients
@using System.ComponentModel.DataAnnotations
@using System.Xml.Schema
@using PlannerFrontend.Utils
@namespace PlannerFrontend.Components
@inject IAuthorizationClientService AuthorizationClient
@inject IUserService User;

<LoadingIndicator @ref="loadingIndicator" FullScreen FadeIn>
    <ChildContent>
        <Heading Size="LayoutUtils.MainHeaderSize">Logowanie</Heading>
        <Validations @ref="@loginValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
            <Validation Validator="AuthorizationClient.UsernameValidation">
                <Field>
                    <FieldLabel>Nazwa użytkownika</FieldLabel>
                    <TextEdit @bind-Text="@Username" Placeholder="Nazwa użytkownika...">
                        <Feedback>
                            <ValidationError>Błędna nazwa użytkownika</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation Validator="ValidationRule.IsNotEmpty">
                <Field>
                    <FieldLabel>Hasło</FieldLabel>
                    <TextEdit Role="TextRole.Password" autocomplete="new-password" @bind-Text="@Password" Placeholder="Hasło...">
                        <Feedback>
                            <ValidationError>Podaj hasło</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Field>
                <Check TValue="bool" @bind-Checked="@Remember">Zapamiętaj</Check>
            </Field>
        </Validations>
        <ErrorText CodeError="@loginError" HumanReadableError="Błędny email lub hasło!"/>
        <Button Color="Color.Primary" Clicked="@OnLoginClicked">Zaloguj</Button>
        <Button Color="Color.Secondary" Clicked="@OnNoAccountClicked">Nie mam konta :(</Button>
    </ChildContent>
    <IndicatorTemplate>
            <LoadingTemplate/>
    </IndicatorTemplate>
</LoadingIndicator>

@code {
    string? username;

    [Parameter]
    public string? Username {
        get => username;
        set {
            if (username == value) return;
            username = value;
            UsernameChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string?> UsernameChanged { get; set; }

    string? password;

    [Parameter]
    public string? Password {
        get => password;
        set {
            if (password == value) return;
            password = value;
            PasswordChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string?> PasswordChanged { get; set; }

    bool remember;

    [Parameter]
    public bool Remember {
        get => remember;
        set {
            if (remember == value) return;
            remember = value;
            RememberChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> RememberChanged { get; set; }

    [Parameter]
    public EventCallback OnNoAccount { get; set; }

    [Parameter]
    public EventCallback OnLoginSuccess { get; set; }
    
    string? loginError;
    LoadingIndicator loadingIndicator = null!;
    Validations? loginValidationsRef;

    async Task OnLoginClicked() {
        if (loginValidationsRef != null && await loginValidationsRef.ValidateAll()) {
            loginError = null;
            await loadingIndicator.Show();
            await loginValidationsRef.ClearAll();

            TokenObtainPairRequest body = new() {
                Password = password!,
                Username = username!
            };
            try {
                TokenObtainPair tokenResponse = await AuthorizationClient.TokenAsync(body);
                await User.TokenService.SetTokens(tokenResponse.Access, tokenResponse.Refresh);
                if (await User.LoadProfile()) {
                    await OnLoginSuccess.InvokeAsync();
                }
            }
            catch (Exception e) {
                loginError = e.Message;
            }
            await loadingIndicator.Hide();
        }
    }

    void OnNoAccountClicked() {
        OnNoAccount.InvokeAsync();
    }

}