﻿@using System.ComponentModel.DataAnnotations
@using PlannerFrontend.Clients
@using PlannerFrontend.Utils
@namespace PlannerFrontend.Components
@inject IAuthorizationClientService AuthorizationClient
@inject IUserService User;
@inject IProfileClientService ProfileClient

<LoadingIndicator @ref="loadingIndicator" FullScreen FadeIn>
    <ChildContent>
        <Heading Size="LayoutUtils.MainHeaderSize">Rejestracja</Heading>
        <Validations @ref="@registerValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
            <Validation Validator="AuthorizationClient.UsernameValidation">
                <Field>
                    <FieldLabel>Nick</FieldLabel>
                    <TextEdit @bind-Text="@Username" Placeholder="Nick...">
                        <Feedback>
                            <ValidationError>
                                Nazwa powinna mieć długość
                                od @AuthorizationClient.UsernameMinLength.ToString()
                                do @AuthorizationClient.UsernameMaxLength.ToString()
                            </ValidationError>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation Validator="ValidationRule.IsEmail">
                <Field>
                    <FieldLabel>Email</FieldLabel>
                    <TextEdit @bind-Text="@Email" Placeholder="Email...">
                        <Feedback>
                            <ValidationError>Niepoprawny email</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation Validator="AuthorizationClient.PasswordValidation">
                <Field>
                    <FieldLabel>Hasło</FieldLabel>
                    <TextEdit Role="TextRole.Password" autocomplete="new-password" @bind-Text="@Password" Placeholder="Hasło...">
                        <Feedback>
                            <ValidationError>Hasło musi być dłuższe niż @AuthorizationClient.PasswordMinLength.ToString()</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation Validator="e => ValidationUtils.IsEqual(e, Password)">
                <Field>
                    <FieldLabel>Potwierdź hasło</FieldLabel>
                    <TextEdit Role="TextRole.Password" autocomplete="new-password" @bind-Text="@PasswordRepeat" Placeholder="Hasło...">
                        <Feedback>
                            <ValidationError>Hasła nie są równe</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
        </Validations>
        <ErrorText CodeError="@loginError" HumanReadableError="Nie udało się utworzyć konta, skontaktuj się z twórcą"></ErrorText>
        <Button Color="Color.Primary" Clicked="OnRegisterClicked">
            Utwórz konto
        </Button>
        <Button Color="Color.Secondary" Clicked="OnHaveAccount">
            Mam już konto :)
        </Button>

    </ChildContent>
    <IndicatorTemplate>
        <LoadingTemplate/>
    </IndicatorTemplate>
</LoadingIndicator>

@code {
    string? loginError;
    LoadingIndicator loadingIndicator = null!;
    string? username;

    [Parameter]
    public string? Username {
        get => username;
        set {
            if (username == value) return;
            username = value;
            UsernameChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string?> UsernameChanged { get; set; }

    string? email;

    [Parameter]
    public string? Email {
        get => email;
        set {
            if (email == value) return;
            email = value;
            EmailChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string?> EmailChanged { get; set; }

    string? password;

    [Parameter]
    public string? Password {
        get => password;
        set {
            if (password == value) return;
            password = value;
            PasswordChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string?> PasswordChanged { get; set; }

    public string PasswordRepeat { get; set; }

    [Parameter]
    public EventCallback OnHaveAccount { get; set; }

    [Parameter]
    public EventCallback OnRegisterSuccess { get; set; }

    Validations? registerValidationsRef;

    async Task OnRegisterClicked() {
        if (registerValidationsRef != null && await registerValidationsRef.ValidateAll()) {
            loginError = null;
            await loadingIndicator.Show();
            await registerValidationsRef.ClearAll();

            UserCreateRequest registerBody = new UserCreateRequest() {
                Username = username!,
                Password = password!,
                Email = email,
            };
            TokenObtainPairRequest loginBody = new() {
                Password = password!,
                Username = username!
            };

            try {
                UserCreate registerResult = await ProfileClient.RegisterAsync(registerBody);
                TokenObtainPair tokenResponse = await AuthorizationClient.TokenAsync(loginBody);
                await User.TokenService.SetTokens(tokenResponse.Access, tokenResponse.Refresh);
                if (await User.LoadProfile()) {
                    await OnRegisterSuccess.InvokeAsync();
                }
            }
            catch (Exception e) {
                loginError = e.Message;
            }
            await loadingIndicator.Hide();
        }
    }

    void OnHaveAccountClicked() {
        OnHaveAccount.InvokeAsync();
    }

    IAuthorizationClientService authorizationClient;
}