﻿@using PlannerFrontend.Clients
@namespace PlannerFrontend.Components
@if (!UseSelect) {
    <Dropdown>
        <DropdownToggle Color="Color.Primary">
            <Icon Name="@Icon"/>
            @(selectedCategory?.Name ?? AllName)
        </DropdownToggle>
        <DropdownMenu>
            <DropdownItem Clicked="FilterAll">@AllName</DropdownItem>
            @if (Categories == null) {
                <DropdownItem Disabled>@LoadingName</DropdownItem>
            }
            else {
                foreach (var category in Categories) {
                    <DropdownItem Clicked="() => CategorySelected(category)">@category.Name</DropdownItem>
                }
            }
        </DropdownMenu>
    </Dropdown>
}
else {
    <Select TValue="int?" SelectedValueChanged="CategorySelected" SelectedValuesChanged="CategoriesSelected" Multiple="Multiple">
        <ChildContent>
            <SelectItem TValue="int?" Value="null" Hidden="true">@SelectName</SelectItem>
            @if (Categories == null) {
                <SelectItem TValue="int?" Value="null" Disabled>@LoadingName</SelectItem>
            }
            else {
                foreach (var category in Categories) {
                    <SelectItem Value="category.Id">@category.Name</SelectItem>
                }
            }
        </ChildContent>
        <Feedback>
            <ValidationError>@ValidationError</ValidationError>
        </Feedback>
    </Select>
}

@code {
        const string AllName = "Wszystko";
        const string LoadingName = "Ładuję";
        const string SelectName = "Kategoria";

    [Parameter]
    public bool UseSelect { get; set; } = false;
    [Parameter]
    public bool Multiple { get; set; } = false;

    [Parameter]
    public string? ValidationError { get; set; } = "Wybierz kategorię";

    [Parameter]
    public IconName Icon { get; set; } = IconName.Filter;

    [Parameter]
    public ICollection<Category>? Categories { get; set; }

    [Parameter]
    public EventCallback<Category> OnCategorySelected { get; set; }
    [Parameter]
    public EventCallback<IReadOnlyList<Category>> OnCategoriesSelected { get; set; }
    
    Category? selectedCategory;
    IReadOnlyList<Category>? selectedCategories;

    async Task FilterAll() {
        await CategorySelected(category: null);
    }

    async Task CategorySelected(int? id) {
        var category = GetCategory(id);
        await CategorySelected(category);
    }

    async Task CategorySelected(Category? category) {
        selectedCategory = category;
        await OnCategorySelected.InvokeAsync(selectedCategory);
    }

    async Task CategoriesSelected(IReadOnlyList<int?>? categoriesId) {
        var categories = categoriesId?
            .Select(GetCategory)
            .Where(category => category != null)
            .Select(category => category!)
            .ToList();
        await OnCategoriesSelected.InvokeAsync(categories);
    }

    Category? GetCategory(int? id) => Categories?.FirstOrDefault(c => c.Id == id);

}