﻿@using PlannerFrontend.Utils
@using PlannerFrontend.Clients
@inject IUserService User;
@inject IEventsClientService EventsClient;
@namespace PlannerFrontend.Components

@if (User.IsLoggedIn) {
    <LoadingIndicator @ref="createLoadingIndicator" FadeIn>
        <ChildContent>
            <Card>
                <CardBody>
                    <Validations @ref="@createValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                        <Validation Validator="e => ValidationUtils.NotEmpty(e, announcementCreate.AllowedCategories)">
                            <Field>
                                <FieldLabel>Kategoria</FieldLabel>
                                <FieldBody>
                                    <CategoryDropdown
                                        Icon="IconName.FolderOpen"
                                        Categories="Categories"
                                        UseSelect="true"
                                        Multiple="true"
                                        OnCategoriesSelected="categories => announcementCreate.AllowedCategories = categories.Select(c => c.Id).ToList()"/>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation Validator="EventsClient.NameValidation">
                            <Field>
                                <FieldLabel>Nazwa</FieldLabel>
                                <TextEdit @bind-Text="@announcementCreate.Name" Placeholder="Nazwa...">
                                    <Feedback>
                                        <ValidationError>Za krótka nazwa</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation Validator="EventsClient.DurationValidation">
                            <Field>
                                <FieldLabel>Długość (min.)</FieldLabel>
                                <FieldBody>
                                    <NumericPicker TValue="double" Min="EventsClient.MinDuration" Max="480" @bind-Value="announcementCreate.Duration">
                                        <Feedback>
                                            <ValidationError>Chcesz zorganizować spotkanie krótsze niż kawusia?</ValidationError>
                                        </Feedback>
                                    </NumericPicker>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Field>
                            <FieldLabel>Daty</FieldLabel>
                            <FieldBody>
                                <Div Position="Position.Relative">
                                    <DatePicker Display="Display.None" Inline @bind-Dates="SelectedDates" TValue="DateTime?"
                                                InputMode="DateInputMode.Date" SelectionMode="DateInputSelectionMode.Range">

                                    </DatePicker>
                                </Div>
                            </FieldBody>
                        </Field>
                        <Validation Validator="e => e.ValidTimeRange(startTime, endTime, TimeSpan.FromMinutes(announcementCreate.Duration))">
                            <Fields >
                                <Field>
                                    <FieldLabel>Początek</FieldLabel>
                                    <FieldBody>
                                        <Div Position="Position.Relative">
                                            <TimePicker TimeAs24hr @bind-Time="StartTime" TValue="TimeSpan">
                                                <Feedback>
                                                    <ValidationError Display="Display.Inline">
                                                        Spotkanie się tu nie zmieści. Potrzbeny większy zakres godzinowy.
                                                    </ValidationError>
                                                </Feedback>
                                            </TimePicker>
                                        </Div>
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel>Koniec</FieldLabel>
                                    <FieldBody>
                                        <Div Position="Position.Relative">
                                            <TimePicker TimeAs24hr @bind-Time="EndTime" TValue="TimeSpan">
                                            </TimePicker>
                                        </Div>
                                    </FieldBody>
                                </Field>
                            </Fields>
                        </Validation>
                    </Validations>
                    <ErrorText CodeError="@createError" HumanReadableError="Nie udało się stworzyć wydarzenia"/>
                    <Button Color="Color.Primary" Clicked="AddNewClicked">Dodaj</Button>
                </CardBody>
            </Card>
        </ChildContent>
        <IndicatorTemplate>
            <LoadingTemplate/>
        </IndicatorTemplate>
    </LoadingIndicator>
}
else {
    <Paragraph>Jak chcesz coś dodać to się zaloguj</Paragraph>
}

@code {

    [Parameter]
    public ICollection<Category>? Categories { get; set; }

    [Parameter]
    public EventCallback OnSuccess { get; set; }

    IReadOnlyList<DateTime?> SelectedDates {
        get => selectedDates;
        set {
            selectedDates = value;
            RefreshDates();
        }
    }

    TimeSpan StartTime {
        get => startTime;
        set {
            startTime = value;
            RefreshDates();
        }
    }

    TimeSpan EndTime {
        get => endTime;
        set {
            endTime = value;
            RefreshDates();
        }
    }

    IReadOnlyList<DateTime?> selectedDates = new DateTime?[] { DateTime.UtcNow, DateTime.UtcNow };
    TimeSpan startTime = new TimeSpan(8, 0, 0);
    TimeSpan endTime = new TimeSpan(16, 0, 0);
    EventAnnouncementRequest announcementCreate = new();
    Validations? createValidationsRef;
    LoadingIndicator? createLoadingIndicator;
    string? createError;

    async Task AddNewClicked() {
        if (createValidationsRef != null && await createValidationsRef.ValidateAll()) {
            createError = null;
            await createLoadingIndicator!.Show();
            await createValidationsRef.ClearAll();
            try {
                var newEvent = await EventsClient.EventsPostAsync(announcementCreate);
                announcementCreate = new();
                await OnSuccess.InvokeAsync();
            }
            catch (Exception e) {
                createError = e.Message;
            }
            await createLoadingIndicator.Hide();
        }
    }


    void RefreshDates() {
        var nowDate = DateTime.UtcNow.Date;
        var start = selectedDates.FirstOrDefault() ?? nowDate;
        var end = selectedDates.LastOrDefault() ?? nowDate;
        start += startTime;
        end += endTime;
        announcementCreate.AllowedStart = start;
        announcementCreate.AllowedEnd = end;
    }

}