﻿@namespace PlannerFrontend.Components
@if (CodeError != null) {
    <Paragraph TextColor="TextColor.Danger">
        <Strong>@HumanReadableError (@CodeError)</Strong>
    </Paragraph>
}

@code {
    [Parameter]
    public string? HumanReadableError { get; set; }
    [Parameter]
    public string? CodeError { get; set; }
}