﻿@using Blazorise.LoadingIndicator
@using Blazorise
@namespace PlannerFrontend.Components
<Animate Animation="Animations.FadeDownRight" Auto Duration="TimeSpan.FromMilliseconds( 700 )">
    <Div>
        <SpinKit Type="SpinKitType.Chase" Size="@Size" Color="@(IsDark ? "var(--bs-dark)" : "var(--bs-primary)")"/>
    </Div>
</Animate>

@code {
    [Parameter]
    public string Size { get; set; } = "100px";

    [Parameter]
    public bool IsDark { get; set; }= false;

}