.centerpage {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 90%;
    height: auto;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sk-chase-ind {
    width: 80px;
    height: 80px;
    position: relative;
    animation: sk-chase-ind 2.5s infinite linear both;
}

.sk-chase-dot-ind {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot-ind 2.0s infinite ease-in-out both;
}

.sk-chase-dot-ind:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: var(--bs-primary);
    border-radius: 100%;
    animation: sk-chase-dot-ind-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot-ind:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot-ind:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot-ind:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot-ind:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot-ind:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot-ind:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot-ind:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot-ind:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot-ind:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot-ind:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot-ind:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot-ind:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase-ind {
    100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-ind {
    80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-ind-before {
    50% {
        transform: scale(0.4);
    } 100%, 0% {
          transform: scale(1.0);
      }
}
