﻿@page "/events"
@using PlannerFrontend.Utils
@using PlannerFrontend.Clients
@inject IPropositionsClientService PropositionsClient;
<Div Padding="LayoutUtils.PagePadding">
    <Heading Size="LayoutUtils.MainHeaderSize">Wydarzenia</Heading>
    <Button Clicked="OpenAddForm" Color="Color.Primary">@(showAdd ? "Jednak nie chce nowego" : "Dodaj nowe")</Button>
    @if (showAdd) {
        <EventAddForm Categories="categories" OnSuccess="OnAdded"/>
    }
    <Alert Color="Color.Success" @bind-Visible="@successAlertVisible">
        <AlertMessage>
            Sukces!
        </AlertMessage>
        <AlertDescription>
            Niedługo będziecie mogli zaplanować wasze spotkanie
        </AlertDescription>
        <CloseButton/>
    </Alert>
</Div>

@code {
    bool showAdd = false;
    bool successAlertVisible = false;
    ICollection<Category>? categories;

    protected override async Task OnInitializedAsync() {
        categories = (await PropositionsClient.CategoryGetAsync()).Results;
    }

    void OpenAddForm() {
        showAdd = !showAdd;
        successAlertVisible = false;
    }

    async Task OnAdded() {
        showAdd = false;
        successAlertVisible = true;
    }

}