﻿@page "/"
@using PlannerFrontend.Utils
@inject IUserService User;

<Div Padding="LayoutUtils.PagePadding">
    <PageTitle>Planner</PageTitle>

    <DisplayHeading Size="DisplayHeadingSize.Is1">Witaj w&nbsp;pół&nbsp;zautomatyzowanym programie obsługi KURS&nbsp;3D i&nbsp;innych..</DisplayHeading>

    <DisplayHeading Size="DisplayHeadingSize.Is4">Dostępne funkcjonalności to:</DisplayHeading>
    <Button Color="Color.Primary" Type="ButtonType.Link" Size="Size.ExtraLarge" To=@(IsLogged ? "Profile" : "Login") Margin="Margin.Is1.OnAll">
        <Icon Name="IconName.Smile"/>&nbsp; &nbsp;Zarządzanie profilem
    </Button>
    <Button Color="Color.Light" Type="ButtonType.Link" Size="Size.ExtraLarge" To="Events" Margin="Margin.Is1.OnAll">
        <Icon Name="IconName.CalendarCheck"/>&nbsp; &nbsp; Przeglądanie i głosowanie na dostępne wydarzenia
    </Button>
    <Button Color="Color.Dark" Type="ButtonType.Link" Size="Size.ExtraLarge" To="Propositions" Margin="Margin.Is1.OnAll">
        <Icon Name="IconName.ChartPie"/>&nbsp; &nbsp;Przeglądanie i głosowanie na dostępne propozycje tematów wydarzeń
    </Button>
</Div>

@code {
    bool IsLogged => User.IsLoggedIn;
}