﻿@page "/login"
@inject NavigationManager NavManager
@using PlannerFrontend.Components
@using PlannerFrontend.Utils
<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" FullWidth Background="Background.Light">
    <Items >
        <Tab Name="@LoginTab">Zaloguj</Tab>
        <Tab Name="@RegisterTab">Utwórz konto</Tab>
    </Items>
    <Content>
        <TabPanel Name="@LoginTab">
            <Div Padding="LayoutUtils.PagePadding">
                <LoginComponent 
                    @bind-Password="@password" @bind-Username="@username" @bind-Remember="@rememberMe" 
                    OnNoAccount="() => OnSelectedTabChanged(RegisterTab)"
                    OnLoginSuccess="RedirectToProfile"/>
            </Div>
        </TabPanel>
        <TabPanel Name="@RegisterTab">
            <Div Padding="LayoutUtils.PagePadding">
                <RegisterComponent 
                    @bind-Username="@username" @bind-Password="@password" @bind-Email="@email" 
                    OnHaveAccount="() => OnSelectedTabChanged(LoginTab)"
                    OnRegisterSuccess="RedirectToProfile"/>
            </Div>
        </TabPanel>
    </Content>
</Tabs>


@code {
        const string LoginTab = "login";
        const string RegisterTab = "register";
    
    string selectedTab = LoginTab;

    string? username;
    string? email;
    string? password;
    bool rememberMe;

    private Task OnSelectedTabChanged(string tabName) {
        selectedTab = tabName;
        return Task.CompletedTask;
    }

    private void RedirectToProfile() {
        NavManager.NavigateTo("/profile");
    }
}
