﻿@page "/profile"
@page "/profile/{UserId:int}"
@using PlannerFrontend.Utils
@using PlannerFrontend.Clients
@inject IUserService CurrentUser;
@inject IProfileClientService ProfileClient;
@inject NavigationManager NavManager;
<Div Padding="LayoutUtils.PagePadding">
    <Div>
        <Div Style="max-width: 100%; width: 70%" Float="Float.Start" >
            <Heading Size="LayoutUtils.MainHeaderSize">Profil</Heading>
            <Heading Size="HeadingSize.Is4">@(profileData?.User?.Username ?? "Anon")</Heading>
        </Div>
        <Div Style="width: 30%; min-width: 200px;" Float="Float.Start">
            <Figure Margin="Margin.Is4.OnAll">
                <FigureImage Source="@profileData.Avatar.ToString()" AlternateText="Avatar" Border="Border.RoundedCircle"></FigureImage>
            </Figure>
        </Div>
    </Div>
    <Div Style="max-width: 1000%; width: 100%" Margin="Margin.Is4.OnY" Float="Float.Start">
        <Button Clicked="Logout" Color="Color.Danger">Wyloguj się</Button>
    </Div>
</Div>

@code {

    [Parameter]
    public int? UserId { get; set; }

    ProfileSerializerAdmin? profileData { get; set; }

    protected override async Task OnInitializedAsync() {
        if (UserId == null) {
            if (CurrentUser.Data == null) {
                NavManager.NavigateTo("/login");
            }
            profileData = CurrentUser.Data;
        }
        else {
            try {
                profileData = await ProfileClient.ProfileGetAsync(userId: UserId.Value);
            }
            catch {
    //Ignore
            }
        }
    }

    public async Task Logout() {
        await CurrentUser.Logout();
        NavManager.NavigateTo("/login");
    }

}