﻿@page "/propositions"
@using PlannerFrontend.Clients
@using PlannerFrontend.Utils
@using PlannerFrontend.Components
@inject IPropositionsClientService PropositionsClient;
@inject IUserService User;

<Div Padding="LayoutUtils.PagePadding">
    <Heading Size="LayoutUtils.MainHeaderSize">Propositions</Heading>
    <Button Clicked="OpenAddForm" Color="Color.Primary">@(showAdd ? "Jednak nie chce nowej" : "Dodaj nową")</Button>
    @if (showAdd) {
        <PropositionAddForm Categories="categories" OnSuccess="OnAdded"/>
    }
    <Alert Color="Color.Success" @bind-Visible="@successAlertVisible">
        <AlertMessage>
            Sukces!
        </AlertMessage>
        <AlertDescription>
            Niedługo niektórzy będą mogli zagłosować na twoją propozycję
        </AlertDescription>
        <CloseButton/>
    </Alert>
    <Divider/>
    <Div Margin="Margin.Is2.OnY">
        <CategoryDropdown Categories="categories" OnCategorySelected="OnCategorySelected"/>
    </Div>
    <Heading Size="HeadingSize.Is4">Uwielbiane propozycje</Heading>
    <LoadingIndicator @ref="hottestLoadingIndicator">
        <ChildContent>
            @if (hottestPropositions != null) {
                <Div Display="Display.Flex.Row" Style="overflow-x: auto">
                    @foreach (var proposition in hottestPropositions) {
                        <PropositionCard Proposition="proposition" OnVoteChange="OnVoteChanged"/>
                    }
                </Div>
            }
            else {
                <Div Style="width: 100%; height: 400px"></Div>
            }
        </ChildContent>
        <IndicatorTemplate>
            <LoadingTemplate/>
        </IndicatorTemplate>
    </LoadingIndicator>
    <Heading Size="HeadingSize.Is4">Najnowsze propozycje</Heading>
    <LoadingIndicator @ref="newestLoadingIndicator">
        <ChildContent>
            @if (newestPropositions != null) {
                <Div Display="Display.Flex.Row" Style="overflow-x: auto">
                    @foreach (var proposition in newestPropositions) {
                        <PropositionCard Proposition="proposition" OnVoteChange="OnVoteChanged"/>
                    }
                </Div>
                <Pagination Display="Display.Flex" Flex="Flex.Row.JustifyContent.Center">
                    <PaginationItem Disabled="@(currentPage <= 0)">
                        <PaginationLink Clicked="() => SetPage(currentPage + 1)">
                            <span aria-hidden="true">«</span>
                        </PaginationLink>
                    </PaginationItem>
                    @{
                        for (var i = 0; i < pageCount; i++) {
                            string pageNumberStr = (i + 1).ToString();
                            int page = i;
                            <PaginationItem @key="pageNumberStr" Active="@(currentPage == page)">
                                <PaginationLink Page="@pageNumberStr" Clicked="() => SetPage(page)">
                                    @pageNumberStr
                                </PaginationLink>
                            </PaginationItem>
                        }
                    }
                    <PaginationItem Disabled="@(currentPage + 1 >= pageCount)">
                        <PaginationLink Clicked="() => SetPage(currentPage + 1)">
                            <span aria-hidden="true">»</span>
                        </PaginationLink>
                    </PaginationItem>
                </Pagination>
            }
            else {
                <Div Style="width: 100%; height: 400px"></Div>
            }
        </ChildContent>
        <IndicatorTemplate>
            <LoadingTemplate/>
        </IndicatorTemplate>
    </LoadingIndicator>
</Div>

@code {

    Category? selectedCategory;
    ICollection<Category>? categories;
    ICollection<Proposition>? hottestPropositions;
    ICollection<Proposition>? newestPropositions;

    LoadingIndicator hottestLoadingIndicator;
    LoadingIndicator newestLoadingIndicator;

    bool showAdd;
    bool successAlertVisible = false;
    int itemsPerPage = 5;
    int pageCount;
    int currentPage = 0;

    protected override async Task OnInitializedAsync() {
        categories = (await PropositionsClient.CategoryGetAsync()).Results;
        await RefreshAll();
    }

    async Task SetPage(int page) {
        if(currentPage == page) return;
        currentPage = page;
        await RefreshNewest();
    }
    
    void OpenAddForm() {
        showAdd = !showAdd;
        successAlertVisible = false;
    }

    async Task OnAdded() {
        showAdd = false;
        successAlertVisible = true;
        await RefreshNewest();
    }

    async Task OnCategorySelected(Category? category) {
        selectedCategory = category;
        await RefreshAll();
    }

    async Task RefreshAll() {
        await Task.WhenAll(RefreshNewest(), RefreshHottest());
    }

    async Task OnVoteChanged() {
        await RefreshHottest();
    }

    async Task RefreshNewest() {
        newestPropositions = null;
        await newestLoadingIndicator.Show();
        var result = await PropositionsClient.PropositionsGetAsync(category: selectedCategory?.Id, itemsPerPage, itemsPerPage * currentPage, "-created");
        pageCount = result.Count!.Value / itemsPerPage + 1;
        newestPropositions = result.Results;
        await newestLoadingIndicator.Hide();
    }

    async Task RefreshHottest() {
        hottestPropositions = null;
        await hottestLoadingIndicator.Show();
        hottestPropositions = (await PropositionsClient.PropositionsGetAsync(category: selectedCategory?.Id, itemsPerPage, 0, "-average_vote")).Results;
        await hottestLoadingIndicator.Hide();
    }

}