﻿@inject IUserService User


<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <BarIcon IconName="IconName.Home"/>
                Planner
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="events">
                    <BarIcon IconName="IconName.CalendarCheck"/>
                    Wydarzenia
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="propositions">
                    <BarIcon IconName="IconName.ChartPie"/>
                    Propozycje
                </BarLink>
            </BarItem>
            @if (User.IsLoggedIn) {
                <BarItem>
                    <BarLink To="profile">
                        <BarIcon IconName="IconName.Grin"/>
                        Mój profil
                    </BarLink>
                </BarItem>
            }
            else {
                <BarItem>
                    <BarLink To="login">
                        <BarIcon IconName="IconName.Smile"/>
                        Zaloguj się
                    </BarLink>
                </BarItem>
            }
        </BarStart>
    </BarMenu>
</Bar>

@code {

    protected override void OnInitialized() {
        base.OnInitialized();
        User.LoginStatusChanged += OnNavChanged;
    }

    void Dispose() {
        if (User != null) {
            User.LoginStatusChanged -= OnNavChanged;
        }
    }
    
    void OnNavChanged(bool isLogged)
        => this.InvokeAsync(StateHasChanged);
}